<div class="row">
    <h4 class="center-align">Tab Communnication Demo</h4>
</div>
<div class="row mb-px-15">
  <div class="col s6">
    <div [formGroup]="sendForm">
      <h6>Lets start send</h6>
      <mat-label>Topic</mat-label>
      <input matInput placeholder="Topic used to send the data" formControlName="topic">
      <mat-label>Data</mat-label>
      <textarea matInput formControlName="data"></textarea>
      <button class="waves-effect waves-light btn" (click)="send()">Send</button>  
    </div>
  </div>
  <div class="col s6">
    <h6>Recieved Data</h6>
    <div class="row">
      <div class="col s8" [formGroup]="subscribeForm">
        <mat-label >Topic</mat-label>
        <input matInput placeholder="Topic used to send the data" formControlName="topic">
      </div>
      <div class="col s4">
        <button class="waves-effect waves-light btn" (click)="subscribe()">Subscribe</button>
      </div>
    </div>
    <div class="row">
      <div class="col">Topic Subscibed : {{topic}}</div>
    </div>
    <div class="row">
      <div class="col">Data Recieved : {{data}}</div>
    </div>
  </div>
</div>